
<!DOCTYPE html>
<html>
    <head>
        <title>Your Machine Learning App</title>
    </head>
    
    <body>
        <form name="form", method="POST", style="text-align: center;">
            <br>
            sqft: <input type="number" name="sqft", placeholder="Enter sq ft" required/>
            <br><br>
            homevalue: <input type="number" name="homevalue", placeholder="Enter home value" required/>
            <br><br>
            <button value="Submit">Run</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
    </body>
